<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="calendar">
        <div class="calendar__sidepanel">
            Event Key
            <div class="calendar__sidepanel__button calendar__sidepanel__button_red">Trade Show</div>
            <div class="calendar__sidepanel__button calendar__sidepanel__button_cyan">Holiday</div>
            <div class="calendar__sidepanel__button calendar__sidepanel__button_blue">Meeting</div>
            <div class="calendar__sidepanel__button calendar__sidepanel__button_yellow">Birthday</div>
        </div>
        <div>
            <div class="calendar__date">June 2019</div>
            <div class="calendar__main">
                <div class="calendar__main__day">SUN</div>
                <div class="calendar__main__day">MON</div>
                <div class="calendar__main__day">TUES</div>
                <div class="calendar__main__day">WED</div>
                <div class="calendar__main__day">THUR</div>
                <div class="calendar__main__day">FRI</div>
                <div class="calendar__main__day">SAT</div>
                <div>1<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>2<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>3<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>4<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>5<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>6<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>7<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>8<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>9<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>10<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>11<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>12<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>13<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>14<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>15<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>16<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>17<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>18<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>19<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>20<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>21<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>22<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>23<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>24<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>25<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>26<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>27<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>28<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>29<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>30<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div>31<div><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
            </div>
        </div>
    </div>

    <div class="calendar calendar_mobile">
        <div class="calendar_mobile__sidepanel">
            Event Key
            <div>
                <div class="calendar__sidepanel__button calendar__sidepanel__button_red">Trade Show</div>
                <div class="calendar__sidepanel__button calendar__sidepanel__button_cyan">Holiday</div>
                <div class="calendar__sidepanel__button calendar__sidepanel__button_blue">Meeting</div>
                <div class="calendar__sidepanel__button calendar__sidepanel__button_yellow">Birthday</div>
            </div>
        </div>
        <div>
            <div class="calendar_mobile__date">3, June 2019</div>
            <div class="calendar_mobile__main">
                <div class="calendar_mobile__main__event">
                    <div class="calendar_mobile__main__event__tag calendar_mobile__main__event__tag_red"></div>
                    <div>
                        <div class="calendar_mobile__main__event__title">Independence Trade Show</div>
                        <div class="calendar_mobile__main__event__subtitle">2-3</div>
                    </div>
                    <span class="material-icons calendar_mobile__main__event__arrow">
                        navigate_next
                    </span>
                </div>

                <div class="calendar_mobile__main__event">
                    <div class="calendar_mobile__main__event__tag calendar_mobile__main__event__tag_blue"></div>
                    <div>
                        <div class="calendar_mobile__main__event__title">8:30 AM</div>
                        <div class="calendar_mobile__main__event__subtitle">Daily Stand Up</div>
                    </div>
                    <span class="material-icons calendar_mobile__main__event__arrow">
                        navigate_next
                    </span>
                </div>

                <div class="calendar_mobile__main__event">
                    <div class="calendar_mobile__main__event__tag calendar_mobile__main__event__tag_blue"></div>
                    <div>
                        <div class="calendar_mobile__main__event__title">4:30 AM</div>
                        <div class="calendar_mobile__main__event__subtitle">Trade Show Wrap Meeting</div>
                    </div>
                    <span class="material-icons calendar_mobile__main__event__arrow">
                        navigate_next
                    </span>
                </div>
            </div>
            <div class="calendar_mobile__panel">
                <div>Previous Day</div>
                <div>Current Day</div>
                <div>Next Day</div>
            </div>
        </div>
    </div>
</body>