<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="calendar">
        <div class="sidepanel">
            Event Key
            <div class="sidepanel__button sidepanel__button_red">Trade Show</div>
            <div class="sidepanel__button sidepanel__button_cyan">Holiday</div>
            <div class="sidepanel__button sidepanel__button_blue">Meeting</div>
            <div class="sidepanel__button sidepanel__button_yellow">Birthday</div>
        </div>
        <div class="calendar-days">
            <div class="calendar-days__date">June 2019</div>
            <div class="calendar-days__container">
                <div class="calendar-days__day calendar-days__day_header">SUN</div>
                <div class="calendar-days__day calendar-days__day_header">MON</div>
                <div class="calendar-days__day calendar-days__day_header">TUES</div>
                <div class="calendar-days__day calendar-days__day_header">WED</div>
                <div class="calendar-days__day calendar-days__day_header">THUR</div>
                <div class="calendar-days__day calendar-days__day_header">FRI</div>
                <div class="calendar-days__day calendar-days__day_header">SAT</div>
                <div class="calendar-days__day calendar-days__day_first">1<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">2<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">3<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">4<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">5<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">6<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">7<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">8<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">9<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">10<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">11<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">12<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">13<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">14<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">15<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">16<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">17<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">18<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">19<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">20<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">21<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">22<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">23<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">24<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">25<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">26<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">27<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">28<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">29<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">30<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
                <div class="calendar-days__day">31<div class="event"><div></div><strong>8:30 AM</strong>Daily Stand Up</div></div>
            </div>
        </div>
    </div>

    <div class="calendar-mobile">
        <div class="sidepanel-mobile">
            Event Key
            <div>
                <div class="sidepanel-mobile__button sidepanel__button_red">Trade Show</div>
                <div class="sidepanel-mobile__button sidepanel__button_cyan">Holiday</div>
                <div class="sidepanel-mobile__button sidepanel__button_blue">Meeting</div>
                <div class="sidepanel-mobile__button sidepanel__button_yellow">Birthday</div>
            </div>
        </div>
        <div class="calendar-days">
            <div class="calendar-days__date">3, June 2019</div>
            <div class="calendar-days__container">
                <div class="event-mobile">
                    <div class="event-mobile__tag event-mobile__tag_red"></div>
                    <div>
                        <div class="event-mobile__title">Independence Trade Show</div>
                        <div class="event-mobile__subtitle">2-3</div>
                    </div>
                    <span class="material-icons event-mobile__arrow">
                        navigate_next
                    </span>
                </div>

                <div class="event-mobile">
                    <div class="event-mobile__tag event-mobile__tag_blue"></div>
                    <div>
                        <div class="event-mobile__title">8:30 AM</div>
                        <div class="event-mobile__subtitle">Daily Stand Up</div>
                    </div>
                    <span class="material-icons event-mobile__arrow">
                        navigate_next
                    </span>
                </div>

                <div class="event-mobile">
                    <div class="event-mobile__tag event-mobile__tag_blue"></div>
                    <div>
                        <div class="event-mobile__title">4:30 AM</div>
                        <div class="event-mobile__subtitle">Trade Show Wrap Meeting</div>
                    </div>
                    <span class="material-icons event-mobile__arrow">
                        navigate_next
                    </span>
                </div>
            </div>
            <div class="footer-mobile">
                <div class="footer-mobile__button">Previous Day</div>
                <div class="footer-mobile__button">Current Day</div>
                <div class="footer-mobile__button">Next Day</div>
            </div>
        </div>
    </div>
</body>