<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Comparison</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="comparison">
        <div class="comparison__layout">
            <input class="comparison__layout__radio" name="comparison__layout__radio" type="radio" checked="checked" />
            <div class="comparison__layout__page comparison__layout__page_side">
              <div>
                <div>Monthly price</div>
                <div class="comparison__layout__page__section">Section 1</div>
                <div>Option 1</div>
                <div>Option 2</div>
                <div>Option 3</div>
                <div>Option 4</div>
                <div class="comparison__layout__page__section">Section 2</div>
                <div>Option 1</div>
                <div>Option 2</div>
              </div>
            </div>
            <label class="comparison__layout__nav comparison__layout__nav_empty">
            </label>
            
            <input class="comparison__layout__radio" name="comparison__layout__radio" type="radio" id="1" checked="checked" />
            <div class="comparison__layout__page">
              <div>
                <div><span class="comparison__layout__page__pounds">&pound;</span>6</div>
               <div class="comparison__layout__page__section"> </div>
                <div>
                    <span class="material-icons comparison__check">
                        done
                    </span>
                </div>
                <div>

                </div>
                <div>
                    
                </div>
                <div>
                    
                </div>
                <div class="comparison__layout__page__section"> </div>
                <div>
                    <span class="material-icons comparison__check">
                        done
                    </span>
                </div>
                <div>
                    <span class="material-icons comparison__check">
                        done
                    </span>
                </div>
              </div>
            </div>
            <label class="comparison__layout__nav" for="1">
                Self-employed
            </label>
          
            <input class="comparison__layout__radio" name="comparison__layout__radio" type="radio" id="2" />
            <div class="comparison__layout__page">
              <div>
                <div><span class="comparison__layout__page__pounds">&pound;</span>7</div>
               <div class="comparison__layout__page__section"> </div>
                <div>
                    <span class="material-icons comparison__check">
                        done
                    </span>
                </div>
                <div>
                    <span class="material-icons comparison__check">
                        done
                    </span>
                </div>
                <div>
                </div>
                <div>
                </div>
               <div class="comparison__layout__page__section"> </div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <label class="comparison__layout__nav" for="2">
              Simple start
              </label>
          
            <input class="comparison__layout__radio" name="comparison__layout__radio" type="radio" id="3" />
            <div class="comparison__layout__page">
                <div>
                    <div><span class="comparison__layout__page__pounds">&pound;</span>15</div>
                   <div class="comparison__layout__page__section"> </div>
                    <div>
                        <span class="material-icons comparison__check">
                            done
                        </span>
                    </div>
                    <div>
                        <span class="material-icons comparison__check">
                            done
                        </span>
                    </div>
                    <div>
                        <span class="material-icons comparison__check">
                            done
                        </span>
                    </div>
                    <div>
                    </div>
                   <div class="comparison__layout__page__section"> </div>
                    <div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <label class="comparison__layout__nav" for="3">
              Essentials
            </label>

            <input class="comparison__layout__radio" name="comparison__layout__radio" type="radio" id="4" />
            <div class="comparison__layout__page">
                <div>
                    <div><span class="comparison__layout__page__pounds">&pound;</span>25</div>
                   <div class="comparison__layout__page__section"> </div>
                    <div>
                        <span class="material-icons comparison__check">
                            done
                        </span>
                    </div>
                    <div>
                        <span class="material-icons comparison__check">
                            done
                        </span>
                    </div>
                    <div>
                        <span class="material-icons comparison__check">
                            done
                        </span>
                    </div>
                    <div>
                        <span class="material-icons comparison__check">
                            done
                        </span>
                    </div>
                   <div class="comparison__layout__page__section"> </div>
                    <div>
                        <span class="material-icons comparison__check">
                            done
                        </span>
                    </div>
                    <div>
                        <span class="material-icons comparison__check">
                            done
                        </span>
                    </div>
                </div>
            </div>
            <label class="comparison__layout__nav" for="4">
                Plus
            </label>
        </div>
        
    </div>
</body>