<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Task2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div><a href="./weather.html">Weather</a></div>
    <div><a href="./comparison.html">Comparison table</a></div>
    <div><a href="./calendar.html">Calendar</a></div>
    <div><a href="./tree.html">Tree</a></div>
    <div><a href="./WYSIWYG.html">WYSIWYG</a></div>
</body>