<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tree</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="tree">
        <div class="tree__header">
            <div class="tree__header__col">
              <input class="tree__header__search" type="text" placeholder="First Name">
              <span class="material-icons">filter_list</span>
            </div>
            <div class="tree__header__col">
              <input class="tree__header__search" type="text" placeholder="Last Name">
              <span class="material-icons">filter_list</span></div>
            <div class="tree__header__col tree__header__col_hide">
              <input class="tree__header__search" type="text" placeholder="Position">
              <span class="material-icons">filter_list</span></div>
            <div class="tree__header__col">
              <input class="tree__header__search" type="text" placeholder="Phone">
              <span class="material-icons">filter_list</span>
            </div>
            <div class="tree__header__col">
              <input class="tree__header__search" type="text" placeholder="Extension">
              <span class="material-icons">filter_list</span>
            </div>
            <div class="tree__header__col tree__header__col_hide">
              <input class="tree__header__search" type="text" placeholder="Address">
              <span class="material-icons">filter_list</span>
            </div>
        </div>
        <ol class="tree__main">
            <li class="tree__main__row tree__main__row_main">
              <label for="menu-1">
                <div class="tree__main__row__content">
                  <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                    <div>First Name-1</div>
                  </div>
                  <div class="tree__main__row__content__col">Last Name</div>
                  <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                  <div class="tree__main__row__content__col">Phone</div>
                  <div class="tree__main__row__content__col">Extension</div>
                  <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                </div>
              </label>
              <input class="tree__main__row__arrow" type="checkbox" checked id="menu-1" /><div class="tree__main__row__logo">arrow_drop_down</div>
              <ol class="tree__main__row__folder">
                <li class="tree__main__row">
                  <label for="menu-1-1">                
                    <div class="tree__main__row__content">
                      <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                        <div>First Name-1</div>
                      </div>
                      <div class="tree__main__row__content__col">Last Name</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                      <div class="tree__main__row__content__col">Phone</div>
                      <div class="tree__main__row__content__col">Extension</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                    </div>
                  </label>
                  <input class="tree__main__row__arrow" type="checkbox" id="menu-1-1" /><div class="tree__main__row__logo">arrow_drop_down</div>
                  <ol class="tree__main__row__folder">
                    <li class="tree__main__row">
                      <label for="menu-1-1-1">                
                        <div class="tree__main__row__content">
                          <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                            <div>First Name-1</div>
                          </div>
                          <div class="tree__main__row__content__col">Last Name</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                          <div class="tree__main__row__content__col">Phone</div>
                          <div class="tree__main__row__content__col">Extension</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                        </div>
                      </label>
                      <input class="tree__main__row__arrow" type="checkbox" id="menu-1-1-1" /><div class="tree__main__row__logo">arrow_drop_down</div>
                      <ol class="tree__main__row__folder">
                        <li class="tree__main__row">
                          <label for="menu-1-1-1-1">                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </label>
                          <input class="tree__main__row__arrow" type="checkbox" id="menu-1-1-1-1" /><div class="tree__main__row__logo">arrow_drop_down</div>
                          <ol class="tree__main__row__folder">
                            <li class="tree__main__row__leaf">
                              <a>                
                                <div class="tree__main__row__content">
                                  <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                    <div>First Name-1</div>
                                  </div>
                                  <div class="tree__main__row__content__col">Last Name</div>
                                  <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                                  <div class="tree__main__row__content__col">Phone</div>
                                  <div class="tree__main__row__content__col">Extension</div>
                                  <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                                </div>
                              </a>
                            </li>
                            <li class="tree__main__row__leaf">
                              <a>                
                                <div class="tree__main__row__content">
                                  <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                    <div>First Name-1</div>
                                  </div>
                                  <div class="tree__main__row__content__col">Last Name</div>
                                  <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                                  <div class="tree__main__row__content__col">Phone</div>
                                  <div class="tree__main__row__content__col">Extension</div>
                                  <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                                </div>
                              </a>
                            </li>
                            <li class="tree__main__row__leaf">
                              <a>                
                                <div class="tree__main__row__content">
                                  <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                    <div>First Name-1</div>
                                  </div>
                                  <div class="tree__main__row__content__col">Last Name</div>
                                  <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                                  <div class="tree__main__row__content__col">Phone</div>
                                  <div class="tree__main__row__content__col">Extension</div>
                                  <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                                </div>
                              </a>
                            </li>
                          </ol>
                        </li>
                        <li class="tree__main__row__leaf">
                          <a>                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </a>
                        </li>
                        <li class="tree__main__row__leaf">
                          <a>                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </a>
                        </li>
                        <li class="tree__main__row__leaf">
                          <a>                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </a>
                        </li>
                        <li class="tree__main__row__leaf">
                          <a>                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </a>
                        </li>
                        <li class="tree__main__row__leaf">
                          <a>                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </a>
                        </li>
                      </ol>
                    </li>
                    <li class="tree__main__row__leaf">
                      <a>                
                        <div class="tree__main__row__content">
                          <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                            <div>First Name-1</div>
                          </div>
                          <div class="tree__main__row__content__col">Last Name</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                          <div class="tree__main__row__content__col">Phone</div>
                          <div class="tree__main__row__content__col">Extension</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                        </div>
                      </a>
                    </li>
                    <li class="tree__main__row__leaf">
                      <a>                
                        <div class="tree__main__row__content">
                          <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                            <div>First Name-1</div>
                          </div>
                          <div class="tree__main__row__content__col">Last Name</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                          <div class="tree__main__row__content__col">Phone</div>
                          <div class="tree__main__row__content__col">Extension</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                        </div>
                      </a>
                    </li>
                    <li class="tree__main__row__leaf">
                      <a>                
                        <div class="tree__main__row__content">
                          <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                            <div>First Name-1</div>
                          </div>
                          <div class="tree__main__row__content__col">Last Name</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                          <div class="tree__main__row__content__col">Phone</div>
                          <div class="tree__main__row__content__col">Extension</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                        </div>
                      </a>
                    </li>
                  </ol> 
                </li>
                <li class="tree__main__row__leaf">
                  <a>                
                    <div class="tree__main__row__content">
                      <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                        <div>First Name-1</div>
                      </div>
                      <div class="tree__main__row__content__col">Last Name</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                      <div class="tree__main__row__content__col">Phone</div>
                      <div class="tree__main__row__content__col">Extension</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                    </div>
                  </a>
                </li>
                <li class="tree__main__row__leaf">
                  <a>                
                    <div class="tree__main__row__content">
                      <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                        <div>First Name-1</div>
                      </div>
                      <div class="tree__main__row__content__col">Last Name</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                      <div class="tree__main__row__content__col">Phone</div>
                      <div class="tree__main__row__content__col">Extension</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                    </div>
                  </a>
                </li>
              </ol>
            </li>
            
            <li class="tree__main__row tree__main__row_main">
              <label for="menu-2">                
                <div class="tree__main__row__content">
                  <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                    <div>First Name-1</div>
                  </div>
                  <div class="tree__main__row__content__col">Last Name</div>
                  <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                  <div class="tree__main__row__content__col">Phone</div>
                  <div class="tree__main__row__content__col">Extension</div>
                  <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                </div>
              </label>
              <input class="tree__main__row__arrow" type="checkbox" id="menu-2" /><div class="tree__main__row__logo">arrow_drop_down</div>
              <ol class="tree__main__row__folder">
                <li class="tree__main__row">
                  <label for="menu-2-1">                
                    <div class="tree__main__row__content">
                      <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                        <div>First Name-1</div>
                      </div>
                      <div class="tree__main__row__content__col">Last Name</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                      <div class="tree__main__row__content__col">Phone</div>
                      <div class="tree__main__row__content__col">Extension</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                    </div>
                  </label>
                  <input class="tree__main__row__arrow" type="checkbox" id="menu-2-1" /><div class="tree__main__row__logo">arrow_drop_down</div>
                  <ol class="tree__main__row__folder">
                    <li class="tree__main__row">
                      <label for="menu-2-1-1">                
                        <div class="tree__main__row__content">
                          <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                            <div>First Name-1</div>
                          </div>
                          <div class="tree__main__row__content__col">Last Name</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                          <div class="tree__main__row__content__col">Phone</div>
                          <div class="tree__main__row__content__col">Extension</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                        </div>
                      </label>
                      <input class="tree__main__row__arrow" type="checkbox" id="menu-2-1-1" /><div class="tree__main__row__logo">arrow_drop_down</div>
                      <ol class="tree__main__row__folder">
                        <li class="tree__main__row__leaf">
                          <a>                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </a>
                        </li>
                        <li class="tree__main__row__leaf">
                          <a>                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </a>
                        </li>
                        <li class="tree__main__row__leaf">
                          <a>                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </a>
                        </li>
                        <li class="tree__main__row__leaf">
                          <a>                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </a>
                        </li>
                        <li class="tree__main__row__leaf">
                          <a>                
                            <div class="tree__main__row__content">
                              <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                                <div>First Name-1</div>
                              </div>
                              <div class="tree__main__row__content__col">Last Name</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                              <div class="tree__main__row__content__col">Phone</div>
                              <div class="tree__main__row__content__col">Extension</div>
                              <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                            </div>
                          </a>
                        </li>
                      </ol>
                    </li>
                    <li class="tree__main__row__leaf">
                      <a>                
                        <div class="tree__main__row__content">
                          <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                            <div>First Name-1</div>
                          </div>
                          <div class="tree__main__row__content__col">Last Name</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                          <div class="tree__main__row__content__col">Phone</div>
                          <div class="tree__main__row__content__col">Extension</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                        </div>
                      </a>
                    </li>
                    <li class="tree__main__row__leaf">
                      <a>                
                        <div class="tree__main__row__content">
                          <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                            <div>First Name-1</div>
                          </div>
                          <div class="tree__main__row__content__col">Last Name</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                          <div class="tree__main__row__content__col">Phone</div>
                          <div class="tree__main__row__content__col">Extension</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                        </div>
                      </a>
                    </li>
                    <li class="tree__main__row__leaf">
                      <a>                
                        <div class="tree__main__row__content">
                          <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                            <div>First Name-1</div>
                          </div>
                          <div class="tree__main__row__content__col">Last Name</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                          <div class="tree__main__row__content__col">Phone</div>
                          <div class="tree__main__row__content__col">Extension</div>
                          <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                        </div>
                      </a>
                    </li>
                  </ol> 
                </li>
                <li class="tree__main__row__leaf">
                  <a>                
                    <div class="tree__main__row__content">
                      <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                        <div>First Name-1</div>
                      </div>
                      <div class="tree__main__row__content__col">Last Name</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                      <div class="tree__main__row__content__col">Phone</div>
                      <div class="tree__main__row__content__col">Extension</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                    </div>
                  </a>
                </li>
                <li class="tree__main__row__leaf">
                  <a>                
                    <div class="tree__main__row__content">
                      <div class="tree__main__row__content__col"><img class="tree__main__row__content__photo" src="<%=require('../assets/face.png')%>">
                        <div>First Name-1</div>
                      </div>
                      <div class="tree__main__row__content__col">Last Name</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Position</div>
                      <div class="tree__main__row__content__col">Phone</div>
                      <div class="tree__main__row__content__col">Extension</div>
                      <div class="tree__main__row__content__col tree__main__row__content__col_hide">Address</div>
                    </div>
                  </a>
                </li>
              </ol>
            </li>
          </ol>
        <div class="tree__footer">
            <div class="tree__footer__element tree__footer__element_navbar">
                <span class="tree__footer__element__icon material-icons">
                    first_page
                </span>
                <span class="tree__footer__element__icon material-icons">
                    chevron_left
                </span>
                <span class="tree__footer__element__icon">1</span>
                <span class="tree__footer__element__icon">2</span>
                <span class="tree__footer__element__icon">3</span>
                <span class="tree__footer__element__icon">4</span>
                <span class="tree__footer__element__icon">5</span>
                <span class="tree__footer__element__icon material-icons">
                    chevron_right
                </span>
                <span class="tree__footer__element__icon material-icons">
                    last_page
                </span>
                <select class="tree__footer__element__icon tree__footer__size">
                    <option>15</option>
                </select>
                <span class="tree__footer__element__icon">elements per page </span>
            </div>
            <div class="tree__footer__element tree__footer__element_pages">
                1-15 of 99 items
            </div>
        </div>
    </div>
</body>