<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="weather">
        <div>
            <div>
                <div class="weather__city">
                    London
                </div>
                <div class="weather__city__subtitle">
                    Weather
                </div>
            </div>
            <span class="material-icons weather__icon weather__icon_today">
                wb_cloudy
            </span>
            <div>
                <div class="weather__temberature weather__temberature_today">
                    10&deg;C
                </div>
                <div class="weather__description">
                    Mostly Cloudy
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="weather__day">
                    Thu<span>rsday</span>
                </div>
                <span class="material-icons weather__icon">
                    wb_cloudy
                </span>
                <div>
                    <div class="weather__temberature weather__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__temberature weather__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div>
                <div class="weather__day">
                    Fri<span>day</span>
                </div>
                <span class="material-icons weather__icon">
                    wb_cloudy
                </span>
                <div>
                    <div class="weather__temberature weather__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__temberature weather__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div>
                <div class="weather__day">
                    Sat<span>urday</span>
                </div>
                <span class="material-icons weather__icon">
                    wb_cloudy
                </span>
                <div>
                    <div class="weather__temberature weather__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__temberature weather__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div>
                <div class="weather__day">
                    Sun<span>day</span>
                </div>
                <span class="material-icons weather__icon">
                    wb_cloudy
                </span>
                <div>
                    <div class="weather__temberature weather__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__temberature weather__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div>
                <div class="weather__day">
                    Mon<span>day</span>
                </div>
                <span class="material-icons weather__icon">
                    wb_cloudy
                </span>
                <div>
                    <div class="weather__temberature weather__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__temberature weather__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div>
                <div class="weather__day">
                    Tue<span>sday</span>
                </div>
                <span class="material-icons weather__icon">
                    wb_cloudy
                </span>
                <div>
                    <div class="weather__temberature weather__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__temberature weather__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div>
                <div class="weather__day">
                    Wed<span>nesday</span>
                </div>
                <span class="material-icons weather__icon">
                    wb_cloudy
                </span>
                <div>
                    <div class="weather__temberature weather__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__temberature weather__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>