<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="weather">
        <div class="weather__section">
            <div class="weather__section__element">
                <div class="weather__section__element__city">
                    London
                </div>
                <div class="weather__section__element__subtitle">
                    Weather
                </div>
            </div>
            <span class="material-icons weather__section__element weather__section__element_today">
                wb_cloudy
            </span>
            <div class="weather__section__element">
                <div class="weather__section__element__temberature weather__section__element__temberature_today">
                    10&deg;C
                </div>
                <div class="weather__section__element__description">
                    Mostly Cloudy
                </div>
            </div>
        </div>
        <div class="weather__section">
            <div class="weather__section__element">
                <div class="weather__section__element__name">
                    Thu<span class="weather__section__element__name_hide">rsday</span>
                </div>
                <span class="material-icons weather__section__element__icon">
                    wb_cloudy
                </span>
                <div class="weather__section__element__temperature">
                    <div class="weather__section__element__temberature weather__section__element__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__section__element__temberature weather__section__element__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div class="weather__section__element">
                <div class="weather__section__element__name">
                    Fri<span class="weather__section__element__name_hide">day</span>
                </div>
                <span class="material-icons weather__section__element__icon">
                    wb_cloudy
                </span>
                <div class="weather__section__element__temperature">
                    <div class="weather__section__element__temberature weather__section__element__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__section__element__temberature weather__section__element__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div class="weather__section__element">
                <div class="weather__section__element__name">
                    Sat<span class="weather__section__element__name_hide">urday</span>
                </div>
                <span class="material-icons weather__section__element__icon">
                    wb_cloudy
                </span>
                <div class="weather__section__element__temperature">
                    <div class="weather__section__element__temberature weather__section__element__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__section__element__temberature weather__section__element__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div class="weather__section__element">
                <div class="weather__section__element__name">
                    Sun<span class="weather__section__element__name_hide">day</span>
                </div>
                <span class="material-icons weather__section__element__icon">
                    wb_cloudy
                </span>
                <div class="weather__section__element__temperature">
                    <div class="weather__section__element__temberature weather__section__element__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__section__element__temberature weather__section__element__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div class="weather__section__element">
                <div class="weather__section__element__name">
                    Mon<span class="weather__section__element__name_hide">day</span>
                </div>
                <span class="material-icons weather__section__element__icon">
                    wb_cloudy
                </span>
                <div class="weather__section__element__temperature">
                    <div class="weather__section__element__temberature weather__section__element__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__section__element__temberature weather__section__element__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div class="weather__section__element">
                <div class="weather__section__element__name">
                    Tue<span class="weather__section__element__name_hide">sday</span>
                </div>
                <span class="material-icons weather__section__element__icon">
                    wb_cloudy
                </span>
                <div class="weather__section__element__temperature">
                    <div class="weather__section__element__temberature weather__section__element__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__section__element__temberature weather__section__element__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
    
            <div class="weather__section__element">
                <div class="weather__section__element__name">
                    Wed<span class="weather__section__element__name_hide">nesday</span>
                </div>
                <span class="material-icons weather__section__element__icon">
                    wb_cloudy
                </span>
                <div class="weather__section__element__temperature">
                    <div class="weather__section__element__temberature weather__section__element__temberature_day">
                        19&deg;C
                    </div>
                    <div class="weather__section__element__temberature weather__section__element__temberature_night">
                        10&deg;C
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>