<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WYSIWYG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="editor">
        <div class="editor__control-panel">
            <div class="editor__control-panel__element">File</div>
            <div class="editor__control-panel__element">Edit</div>
            <div class="editor__control-panel__element">Insert</div>
            <div class="editor__control-panel__element">View</div>
            <div class="editor__control-panel__element">Format</div>
            <div class="editor__control-panel__element">Table</div>
            <div class="editor__control-panel__element">Tools</div>
            <div class="editor__control-panel__element">Help</div>
        </div>
        <div class="editor__footer">
            <div class="editor__footer__options">
                <span class="material-icons editor__footer__options__section editor__footer__options__section_more-dots">
                    more_horiz
                </span>
                <input type="checkbox" class="editor__footer__options__section editor__footer__options__section_more-input">
                <div class="editor__footer__options__section editor__footer__options__section_fonts">
                    <div class="editor__footer__options__section__element editor__footer__options__section__element_select editor__footer__options__section__element_text">
                        <select>
                            <option>Paragraph</option>
                        </select>
                    </div>
                    <div class="editor__footer__options__section__element editor__footer__options__section__element_select editor__footer__options__section__element_text">
                        <select>
                            <option>Avenir</option>
                        </select>
                    </div>
                </div>
                <div class="editor__footer__options__section">
                    <span class="editor__footer__options__section__element material-icons">
                        format_bold
                    </span>
                    <span class="editor__footer__options__section__element material-icons">
                        format_italic
                    </span>
                    <span class="editor__footer__options__section__element material-icons">
                        strikethrough_s
                    </span>
                    <div class="editor__footer__options__section__element editor__footer__options__section__element_select">
                        <select class="material-icons">
                            <option>
                                format_color_text
                            </option>
                        </select>
                    </div>
                    <div class="editor__footer__options__section__element editor__footer__options__section__element_select">
                        <select class="material-icons">
                            <option>
                                border_color
                            </option>
                        </select>
                    </div>
                    <span class="editor__footer__options__section__element material-icons">
                        format_paint
                    </span>
                </div>
                <div class="editor__footer__options__section">
                    <span class="editor__footer__options__section__element material-icons">
                        format_align_left
                    </span>
                    <span class="editor__footer__options__section__element material-icons">
                        format_align_center
                    </span>
                    <span class="editor__footer__options__section__element material-icons">
                        format_align_right
                    </span>
                    <span class="editor__footer__options__section__element material-icons">
                        format_align_justify
                    </span>
                </div>
                <div class="editor__footer__options__section">
                    <div class="editor__footer__options__section__element editor__footer__options__section__element_select">
                        <select class="material-icons">
                            <option>
                                format_list_numbered
                            </option>
                        </select>
                    </div>
                    <div class="editor__footer__options__section__element editor__footer__options__section__element_select">
                        <select class="material-icons">
                            <option>
                                format_list_bulleted
                            </option>
                        </select>
                    </div>
                    <span class="editor__footer__options__section__element material-icons">
                        format_indent_decrease
                    </span>
                    <span class="editor__footer__options__section__element material-icons">
                        format_indent_increase
                    </span>
                </div>
                <div class="editor__footer__options__section">
                    <span class="editor__footer__options__section__element material-icons">
                        insert_link
                    </span>
                    <span class="editor__footer__options__section__element material-icons">
                        insert_photo
                    </span>
                </div>
                <div class="editor__footer__options__section">
                    <span class="editor__footer__options__section__element material-icons">
                        format_clear
                    </span>
                </div>
                <div class="editor__footer__options__section">
                    <span class="editor__footer__options__section__element material-icons">
                        code
                    </span>
                </div>
                <div class="editor__footer__options__section">
                    <span class="editor__footer__options__section__element material-icons">
                        mode_comment
                    </span>
                </div>
                <div class="editor__footer__options__section">
                    <span class="editor__footer__options__section__element material-icons">
                        toc
                    </span>
                </div>
                <div class="editor__footer__options__section">
                    <div class="editor__footer__options__section__element editor__footer__options__section__element_select">
                        <select class="material-icons">
                            <option>
                                format_size
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>