<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WYSIWYG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="editor">
        <div class="editor__control-panel">
            <div>File</div>
            <div>Edit</div>
            <div>Insert</div>
            <div>View</div>
            <div>Format</div>
            <div>Table</div>
            <div>Tools</div>
            <div>Help</div>
        </div>
        <div class="editor__footer">
            <div class="editor__footer__options">
                <span class="material-icons editor__footer__options__more-dots">
                    more_horiz
                </span>
                <input type="checkbox" class="editor__footer__options__more-input">
                <div class="editor__footer__options__fonts">
                    <select>
                        <option>Paragraph</option>
                    </select>
                    <select>
                        <option>Avenir</option>
                    </select>
                </div>
                <div>
                    <span class="material-icons">
                        format_bold
                    </span>
                    <span class="material-icons">
                        format_italic
                    </span>
                    <span class="material-icons">
                        strikethrough_s
                    </span>
                    <select class="material-icons editor__footer__options__select">
                        <option>
                            format_color_text
                        </option>
                    </select>
                    <select class="material-icons editor__footer__options__select">
                        <option>
                            border_color
                        </option>
                    </select>
                    <span class="material-icons">
                        format_paint
                    </span>
                </div>
                <div>
                    <span class="material-icons">
                        format_align_left
                    </span>
                    <span class="material-icons">
                        format_align_center
                    </span>
                    <span class="material-icons">
                        format_align_right
                    </span>
                    <span class="material-icons">
                        format_align_justify
                    </span>
                </div>
                <div>
                    <select class="material-icons editor__footer__options__select">
                        <option>
                            format_list_numbered
                        </option>
                    </select>
                    <select class="material-icons editor__footer__options__select">
                        <option>
                            format_list_bulleted
                        </option>
                    </select>
                    <span class="material-icons">
                        format_indent_decrease
                    </span>
                    <span class="material-icons">
                        format_indent_increase
                    </span>
                </div>
                <div>
                    <span class="material-icons">
                        insert_link
                    </span>
                    <span class="material-icons">
                        insert_photo
                    </span>
                </div>
                <div>
                    <span class="material-icons">
                        format_clear
                    </span>
                </div>
                <div>
                    <span class="material-icons">
                        code
                    </span>
                </div>
                <div>
                    <span class="material-icons">
                        mode_comment
                    </span>
                </div>
                <div>
                    <span class="material-icons">
                        toc
                    </span>
                </div>
                <div>
                    <select class="material-icons editor__footer__options__select">
                        <option>
                            format_size
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</body>