$dark-grey: #CCC;
$grey: #DDD;
$white: #EEE;
$red: #E64;
$cyan: #6BB;
$blue: #06A;
$yellow: #FA2;

.calendar {
    background-color: $grey;
    display: flex;
}

.calendar-mobile {
    display: none;
}

.calendar-days {
    &__date {
        font-size: 2em;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &__day {
        background-color: $white;
        outline: 2px solid $grey;
        text-align: end;
        padding: 5px;

        &_first {
            grid-column: 3;
        }

        &_header {
            background-color: $grey;
            padding-left: 5px;
            text-align: start;
        }
    }
}

.event {
    text-align: start;
    background-color: $blue;
    color: $white;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
}

.sidepanel {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

    &__button {
        border-radius: 3px;
        color: $white;
        flex: 0;
        margin: 5px 0;
        padding: 5px;

        &_red {
            background-color: $red;
        }

        &_cyan {
            background-color: $cyan;
        }

        &_blue {
            background-color: $blue;
        }

        &_yellow {
            background-color: $yellow;
        }
    }
}

@media (max-width: 768px) {
    .calendar {
        display: none;
    }

    .calendar-mobile {
        display: block;
        background-color: white;
        padding: 20px;
    }

    .sidepanel-mobile {
        &__button {
            border-radius: 3px;
            color: $white;
            flex: 0;
            margin: 5px 0;
            padding: 5px;
            margin: 10px;
            display: inline-block;
        }
    }

    .calendar-days {
        &__container {
            display: block;
        }
    }

    .event-mobile {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 40px 1fr 1fr;
        border-top: 2px solid $grey;
        margin: 20px;
        padding: 20px 0;

        &__tag {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            
            &_red {
                background-color: $red;
            }

            &_cyan {
                background-color: $cyan;
            }

            &_blue {
                background-color: $blue;
            }

            &_yellow {
                background-color: $yellow;
            }
        }

        &__arrow {
            justify-self: end;
        }
    }

    .footer-mobile {
        display: flex;
        justify-content: center;

        &__button {
            margin: 20px;
            padding: 5px 20px;
            background-color: $dark-grey;
            border-radius: 5px;
        }
    }
}