$pink: #A26;
$blue: #1AD;
$grey: #EEE;
$dark-grey: #DDD;
$green: #3A2;

.comparison {
    &__check {
        color: $green;
    }

    &__layout {
      display: grid;
      grid-template-rows: 50px 1fr;
      grid-template-columns: repeat(5, 1fr);

      &__radio {
        display: none;
      }

      &__radio:checked + &__page + &__nav{
        border-top: 5px solid $pink;
      } 

      &__radio:checked + &__page {
        opacity: 1;
      }

      &__nav {
        cursor: pointer;
        display: block;
        user-select: none;
        border-top: 5px solid $blue;
        text-align: center;

        &_empty {
          border-top: 5px solid transparent;
        }
      }

      &__page {
        display: flex;
        grid-row-start: 2;
        border: 1px solid $dark-grey;

        &__col {
          width: 100%;

          &__cell {
            text-align: center;
            min-height: 2em !important;
            padding: 5px;
            border-bottom: 1px #EEE solid;
          }

          &__pounds {
            position:relative; 
            top: -0.25em;
            font-size: 0.75em;
          }
  
          &__section {
            background-color: $grey;
            outline: 2px solid $grey;
          }
        }
      }
    }
}

@media (max-width: 768px) {
  .comparison {
    &__layout {
      grid-template-columns: repeat(4, 1fr);

      &__page_side + &__nav {
        display: none;
      }
    
      &__page_side ~ &__page {
        opacity: 0;
      }
    
      &__page {
        grid-column-start: 3;
        grid-column-end: span 2;

        &_side {
            grid-column-start: 1;
            grid-column-end: unset;
            grid-column: span 2;
        }
      }
    }
  }
}