$padding: 20px;

$template-header: 1fr 15vw 15vw 15vw 15vw 15vw;
$template: 1fr 15vw 15vw 15vw 15vw 15vw;
$template-short: 1fr 20vw 20vw 20vw;
$grey: #EEE;
$dark-grey: #AAA;
$white: #FFF;
$blue: #2BF;

.tree {
    &__header {
        display: grid;
        grid-template-columns: $template-header;
        width: 100vw;

        &__search {
            background: none;
            border: none;
            width: 100%;
        }

        &__col {
            display: flex;
            outline: solid $dark-grey;
            background-color: $grey;
            color: $dark-grey;
            padding: 5px;
        }
    }

    &__main {
        padding-left: $padding;

        &__icon {
            position: absolute;
            top: 0;
            left: 0;
        }

        &__row {
            list-style-type:none;
            position:relative;
            border-top: 1px solid $dark-grey;
            border-bottom: 1px solid $dark-grey;
            margin: -1px 0;

            &_main {
                display: block;
            }

            &__folder {
                padding-left: $padding;
                &, .tree__main__row__leaf {
                    display:none;
                }
            }

            &__arrow {
                width:1em;
                height:1em;
                position:absolute;
                left: -1.5em;
                top:0;
                cursor:pointer;
                transform: rotate(-90deg);
                opacity: 0;
            
                & + div{
                    font-family: 'Material Icons';
                    transform: rotate(-90deg);
                    position: absolute;
                    top: 0;
                    left: -1em;
                    pointer-events: none;
                }
            
                &:checked {
                    & + div{
                        transform: rotate(-45deg);
                    }
        
                    & ~ .tree__main__row__folder {
                        height:auto;
                        display:block;
        
                        &, .tree__main__row__leaf {
                            display:block;
                        }
                    }
                }
            }
    
            &__content {
                display: grid;
                cursor:pointer;
                grid-template-columns: $template;

                &__photo {
                    height: 1.5em;
                }
    
                &__col {
                    display: flex;
                }
            }
        }
    }

    &__footer {
        display: grid;
        grid-auto-flow: column;
        background-color: $grey;
        border-top: 1px solid $dark-grey;
        bottom: 0;
        position: absolute;
        z-index: 999;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;

        &__size {
            background: none;
        }

        &__element {
            &__icon {
                margin: 5px;
            }

            &_navbar {
                display: flex;
                align-items: center;
            }

            &_pages {
                justify-self: end;
            }
        }
    }
}

@media (max-width: 1279px) {
    .tree {
        &__header {
            grid-template-columns: $template-short;

            &__col_hide {
                display: none;
            }
        }

        &__main {
            &__row {
                &__content {
                    grid-template-columns: $template-short;

                    &__col {
                        &_hide {
                            display: none;
                        }
                    }
                }
            }
        }
    }
} 