&-radio {
    position: absolute;
    left: -999999px;        

    & + label {
        position: relative;
        padding-left: 2em;
        cursor: pointer;
        display: inline-block;
        padding-top: 0.3em;
    }

    & + label::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1em;
        height: 1em;
        transform: translate(0.25em, 0.25em);
        border: 0.2em solid $grey;
        border-radius: 100%;
        background: $white;
    }

    &:checked + label::before {
        background: $blue;
        border: 0.2em solid $blue;
        box-shadow: 0 0 0 0.2em $light-blue;
    }

    & + label::after {
        content: '';
        width: 0.75em;
        height: 0.75em;
        background: $white;
        position: absolute;
        top: 0.6em;
        left: 0.6em;
        border-radius: 100%;
    }

    &:not(:checked) + label::after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}